@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

body {
  background-color: #fffceb;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Protest Riot", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top {
  width: 0;
  height: 0;
  border: solid 10.5rem transparent;
  border-top: solid 9.375rem #fee402;
  border-bottom: none;
  z-index: 2;
  transform-origin: 50% 0;
  transform: perspective(500);
  transition: all 2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  width: 6.25rem;
  z-index: 3;
}

.body {
  width: 80%;
  height: 20rem;
  background: #fdca00;
  transition: all 2s linear;
  display: flex;
  align-items: start;
  justify-content: center;
}

.content {
  width: 80%;
  height: 0;
  overflow: hidden;
  background: #fffed5;
  background-image: url("images/paper.jpg");
  background-size: cover;
  z-index: 4;
  transition: all 1s linear;
}

.content p {
  padding: 0 1rem;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.75rem;
  color: #1c1c1c;
  text-align: justify;
}

.open {
  transition: all 3s linear;
  height: 20rem;
  opacity: 1;
}
